.flag {
    padding: 5px 10px;
    border-radius: 3px;
    font-weight: bold;
    color: white;
  }
  
  .flag-yellow {
    background-color: yellow;
    color: black;
  }
  
  .flag-orange {
    background-color: orange;
    color: white;
  }
  
  .flag-red {
    background-color: red;
    color: white;
  }